ergonomics in fidl翻译

原文：/fidl/design-history.md

**原文上下文：**
按主题方式介绍FIDL历史，其中一个分类为Ergonomics，下属内容为：
* [RFC-0053: Epitaphs][rfc-0053]
* [RFC-0056: Empty structs][rfc-0056]
* [RFC-0060: Error handling][rfc-0060]
* [RFC-0025: Bit flags][rfc-0025]
* (Rejected) [RFC-0031: Typed epitaphs][rfc-0031]
* [RFC-0057: Default no handles][rfc-0057]

**单词原意：**
人体工学

**翻译备选：**
1. 人机交互的顺畅度 -- Rust ergonomics介绍
Rust’s greatest ambition is to eliminate the trade-offs that programmers have accepted for decades by providing safety and productivity, speed and ergonomics.
在官方指导文档中，如此形容Rust的使命：它最重要的目标是消除数十年来程序员不得不做的权衡：安全与生产力，速度与人机交互的顺畅度(ergonomics)。
https://github.com/rust-lang/book/blob/main/src/ch00-00-introduction.md
https://kaisery.github.io/trpl-zh-cn/ch00-00-introduction.html

2. 人机交互 --wiki
根据下文包含内容为错误句柄，墓碑信息（断连前发送类coredump信息）

3. 不译
Rust和联系前后文RFC暂无很好能表示其意思的译法，暂时选择不译。

赞成不译。没必要新增一个突兀的中文词汇

工效学

参看[中国人类工效学学会官方网站](http://www.cesbj.org/)。另外ergonomics一词在牛津英汉汉英词典中的翻译也是“工效学”。同样地，英文解释为

> the study of people's efficiency in their working environment.

单从英文释义来看，“工效学”一词就已足够解释了。

所谓人类工效学，主要的研究方向是使得人类能够提高工作过程中的效率、舒适度等方面。个人认为工效（工作效率）学一词能够体现这一含义，而仅仅用“顺畅度”一词有点跑题，甚至是存在歧义。（当然现有文档中强调“人机交互”也算是对“顺畅度”翻译方式的一种补偿吧。）不过该词本身也不仅仅能够用于描述人机交互的情况，实体工具也可以使用该词，最终落脚点都在促进人们更有成效、更有效率、综合效果更好地开展工作。

综上，我个人认为翻译为工效学是相对比较贴切的。

暂用工效学作为专用文档此处释义